<!DOCTYPE html>
<html>
<head>
	<title>MyPage</title>
</head>
<body>
	<form action="/index" method="get" style="position: left">
		<input type="text" class="form-control" placeholder="Enter a paragraph" 
		name="paragraph">
		<input class="form-control btn btn-primary" type="submit" value="Search">
	</form>
		<form action="/clear" method="get" style="position: center">
		<input type="text" class="form-control" placeholder="Enter a index to clear" 
		name="clear">
		<input class="form-control btn btn-primary" type="submit" value="Search">
	</form>
	<form action="/search" method="get" style="position: right">
		<input type="text" class="form-control" placeholder="Enter a word" 
		name="search">
		<input class="form-control btn btn-primary" type="submit" value="Search">
	</form>

</body>
</html>